/*

*/


body
{
    /* background: url("/images/Background2.jpg"); */
  background-image: url("/~gilesb/images/Background4.jpg");
  /*background-attachement: fixed; */
  background-repeat: repeat-y; 
  background-color: rgb(238,238,238);
  font-family: "Helvetica", "Verdana", "Arial", sans-serif;
}

/* h1, h2, h3, h4, h5, h6, p, ul, ol, dl, td, th,
	 address, caption, pre, blockquote */
h1, h2, h3, h4, h5, h6, p, ul, ol, dl, td, th, address, caption, pre, blockquote
{
  color: rgb(47,79,79); /* dark slategray */
  font-family: "Helvetica", "Verdana", "Arial", sans-serif;
/*  background: transparent; */
}
/*********
a img {
    background-color: transparent; 
    color: rgb(238,238,238);
}
*/
a
{
  background-color: rgb(238,238,238);

  color: rgb(30,44,255); /*dodgerblue;
  background: transparent; */
}

a:visited
{
  background-color: rgb(238,238,238);

  color: rgb(138,43,226); /*blueviolet;
  background: transparent; */
}

a:active
{
  background-color: rgb(238,238,238);

  color: #FF0000;
 /* background: transparent; */
}

a:hover {
    color: rgb(255,0,0); /* Red */
    background: rgb(0,255,255);/* Cyan */
}

span.red
{
              background-color: rgb(238,238,238);

	color: rgb(255,0,0);
}
span.black
{
  background-color: rgb(238,238,238);
	color: rgb(0,0,0);
}

div.menubar{ 
   float: top;
   border-style: solid none solid none;
   border-width: thin;
   border-color: gray;
   margin-top: 0px;
   margin-bottom: 5px;
   padding-top:3px;
   padding-bottom:3px;
 }

div.menubar table{ 
border-collapse: collapse;
   width:100%;
   margin-top: 5px;
   margin-bottom: 5px;
 }
td.menuitem, td.menuitemhere{ 
   padding: 0 0 0 0;
 }

div.page {
	margin-right: 5%;
	margin-left: 5%;
}
.menuitem { 
   font-weight: bold;
   background-color: #7788ff;
   text-align: center;
   color: white;
  font-size: 1.3em;
 }
.menuitem a{ 

  background-color : transparent;
   color: white;
 }

.menuitem a:visited{ 

  background-color : transparent;
   color: white;
 }

.menuitem a:hover{ 

  background-color : rgb(255,255,255);
   color: #7788ff;
 }



.menuitemhere { 
   font-weight: bold;
   font-style: italic;
   background-color: #5566ff;
   text-align: center;
   color: white;
 }


table.roadmap{ 
  border-style: solid solid solid solid;
   border-width: thin;
   border-color: black;
   margin-top: 0px;
   margin-bottom: 5px;
   padding-top:3px;
   padding-bottom:3px;
border-collapse: collapse;
   width:90%;
   margin-top: 5px;
   margin-bottom: 5px;

 }
.roadmap th{ 
   text-align: center;
   border-style: solid solid solid solid;
   border-width: thin;
   border-color: black;
   padding-left: .5em;
   padding-right: 1em;
   padding-top: 3px;
   padding-bottom: 3px;
 }


.roadmap td{ 
   text-align: left;

  border-style: solid solid solid solid;
   border-width: thin;
   border-color: black;
   padding-left: .5em;
   padding-right: 1em;
   padding-top: 1px;
   padding-bottom: 2px;
 }

div.topmenu td{ 

  font-family: Helvetica, Verdana, Arial, sans-serif;
  margin-left: .5em;
  padding-left: 1.3em;
  padding-right: 1.3em;
  font-weight: bold;
  font-size: 1.3em;
 }

div.topmenu a{ 
  background-color : transparent;
 }
div.topmenu {  

  text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
    border: 2pt;
    margin-left: 0em;
    width: 100%;
    /* everything below is needed because of Netscape 4.x only */
    float: top;
    padding: 0.2em 0.2em 0.2em 1.2em;
    color:  rgb(128,128,128);

    background-color: transparent;
    background:  transparent;
 }

div.topmenu td{ 

  font-family: Helvetica, Verdana, Arial, sans-serif;
  margin-left: .5em;
  padding-left: 1.3em;
  padding-right: 1.3em;
  font-weight: bold;
  font-size: 1.3em;
 }

div.topmenu a{ 
  background-color : transparent;
 }



td.page
{
	background:transparent;
	color: rgb(192,192,192);
	background-color:transparent;
}

a img {
    border:0;
}

a
{
  text-decoration: none;
} 


h1, h2
{
  font-weight: bold;
}

h1 { margin-left: -4%;}

h2,h3,h4,h5,h6 { margin-left: -2%; }
.shout
{
  font-weight: bold;
}

/*
 *
   Margin Information
 *
 */


h1
{
  font-size:     1.728em;
  margin-top:    .5em;
  margin-bottom: .25em;
}

h2, .shout
{
  font-size: 1.44em;
}

h3
{
  font-size: 1.2em;
}

/*
 *
   Body Table widths
 *
 */
td.codeexample
{ 
  vertical-align: top;
  }
td.sidebar
{
  width: 10%;
}

td.separator
{
  width: 5%;
}

td.maintext
{
  width: 80%;
}

td.license
{
  width: 50%;
}

hr.break
{
  width: 50%;
}
td.title
{
  width:30%;
  font-size:     1.728em;
  font-weight: bold;
  margin-top:    3em;
  margin-bottom: 2em;
  text-align: center;
}
td.mypic
{
  text-align: right;

}
/*
 *
   Alignments
 *
 */

.right {
    text-align: right;
}

.rfloat {
    float: right;
}


.center
{
    text-indent: 0;
    text-align: center;
    margin-left: 16em;
}

.newsrfloat {
    float: right;
}

/*
 *
   Navbar Classes
 *
 */

.menu
{
  white-space: nowrap;
}


.question 
{
  font-style: italic;
}

.red
{
  background-color: rgb(238,238,238);

  	color: rgb(255,0,0);
}

.notice
{
  background-color: rgb(238,238,238);
  color: rgb(255,0,0);
  font-weight: bold;
  font-size:     1.728em;

}

.code
{
  font-family: monospace;
}

