pre { font-family: courier; }
pre.special { font-family: Helvetica, Arial; }
td { font-family: Helvetica, Arial; }
td.green { 
	background-color: #E3E3B2;
	text-align: center; 
	font-weight: bold; 
}
td.greenl { 
	background-color: #E3E3B2;
	text-align: left;
	font-weight: bold;
}
td.green-n {
	background-color: #E3E3B2;
	text-align: center;
	font-weight: normal;
}
td.green_n { 
	background-color: #E3E3B2;
	text-align: center;
	font-weight: normal;
}
td.green-p { background-color: #E3E3B2; }
td.green_p { background-color: #E3E3B2; }
td.greener {
	background-color: #F7F9CD; 
	text-align: left;
}
td.greendiff {
	background-color: #F7F9CD; 
	text-align: center;
}
td.greener-p { background-color: #F7F9CD; }
td.greener_p { background-color: #F7F9CD; }
td.light {
	background-color: #F2ECCD;
	text-align: left;
}
td.active {
	background-color: #EDD422;
	text-align: center; 
	font-weight: bold;
}
td.active2 {
	background-color: #E1DFBF;
	text-align: left;
}
table.header {
	padding: 5;
	border-style: 2;
	width: 100%;
}
td.header {
	background-color: #EDD422;
	color: black;
	text-align: left; 
	font-weight: bold;
}
td.heading {
	background-color: #EDD422;
	color: black;
	text-align: center;
	font-weight: bold;
}
th { font-family: Helvetica, Arial; }
caption { font-family: Helvetica, Arial; }
i { font-family: Times; }
i.special { font-family: Helvetica; }
i.times { font-family: Times; }
em { font-family: Times; }
em.special { font-family: Times; }
p { font-family: Helvetica, Arial; }
p.special { font-family: Times; }
ul { font-family: Helvetica, Arial; }
ul.special { list-style-type: none; }
ol { font-family: Helvetica, Arial; }
li { font-family: Helvetica, Arial; }
h4 { font-family: Helvetica, Arial; }
h3 { font-family: Helvetica, Arial; }
h2 { font-family: Helvetica, Arial; }
h1 { font-family: Helvetica, Arial; }
div { font-family: Helvetica, Arial; }
br { font-family: Helvetica, Arial; }
tt { font-family: courier; }
body {
	color: black;
	background-image: url("/images/Background3.jpg");
}
body.special {
	color: black; 
	background-color: ffffff; 
	background-image: url("");
}
a:link { color: blue; }
a:visited { color: purple }
a:active { color: red; }
table.special {
	padding-left: 20;
	padding-top: 0;
}
address { font-family: Times; }
blockquote { font-family: Helvetica, Arial; }


